html {
    background-image: url(staticmap.png);
    background-size: 870.4px 870.4px;
    background-repeat: no-repeat;
    width: 870.4px;
    height: 870.4px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.dot {
    animation-name: dot-transform-keyframes;
    animation-duration: 40000ms;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0 0;
}

@keyframes dot-transform-keyframes {
    0% {
        transform: translate(867px, 150px) translate(-50%, -50%);
    }

    2.50% {
        transform: translate(847px, 150px) translate(-50%, -50%);
    }

    5% {
        transform: translate(847px, 234px) translate(-50%, -50%);
    }

    7.50% {
        transform: translate(869px, 250px) translate(-50%, -50%);
    }

    10% {
        transform: translate(871px, 284px) translate(-50%, -50%);
    }

    12.50% {
        transform: translate(871px, 313px) translate(-50%, -50%);
    }

    15% {
        transform: translate(874px, 436px) translate(-50%, -50%);
    }

    17.50% {
        transform: translate(876px, 493px) translate(-50%, -50%);
    }

    20% {
        transform: translate(831px, 489px) translate(-50%, -50%);
    }

    22.50% {
        transform: translate(734px, 477px) translate(-50%, -50%);
    }

    25% {
        transform: translate(734px, 529px) translate(-50%, -50%);
    }

    27.50% {
        transform: translate(732px, 558px) translate(-50%, -50%);
    }

    30% {
        transform: translate(732px, 588px) translate(-50%, -50%);
    }

    32.50% {
        transform: translate(645px, 588px) translate(-50%, -50%);
    }

    35% {
        transform: translate(642px, 681px) translate(-50%, -50%);
    }

    37.50% {
        transform: translate(654px, 684px) translate(-50%, -50%);
    }

    40% {
        transform: translate(654px, 712px) translate(-50%, -50%);
    }

    42.50% {
        transform: translate(743px, 709px) translate(-50%, -50%);
    }

    45% {
        transform: translate(822px, 707px) translate(-50%, -50%);
    }

    47.50% {
        transform: translate(822px, 746px) translate(-50%, -50%);
    }

    50% {
        transform: translate(822px, 746px) translate(-50%, -50%);
    }

    52.50% {
        transform: translate(822px, 707px) translate(-50%, -50%);
    }

    55.00% {
        transform: translate(792px, 707px) translate(-50%, -50%);
    }

    57.50% {
        transform: translate(790px, 679px) translate(-50%, -50%);
    }

    62.50% {
        transform: translate(787px, 602px) translate(-50%, -50%);
    }

    65% {
        transform: translate(770px, 602px) translate(-50%, -50%);
    }

    67.50% {
        transform: translate(768px, 587px) translate(-50%, -50%);
    }

    70% {
        transform: translate(645px, 588px) translate(-50%, -50%);
    }

    72.50% {
        transform: translate(723px, 588px) translate(-50%, -50%);
    }

    75% {
        transform: translate(734px, 529px) translate(-50%, -50%);
    }

    77.50% {
        transform: translate(734px, 477px) translate(-50%, -50%);
    }

    80% {
        transform: translate(831px, 489px) translate(-50%, -50%);
    }

    82.50% {
        transform: translate(876px, 493px) translate(-50%, -50%);
    }

    85% {
        transform: translate(874px, 436px) translate(-50%, -50%);
    }

    87.50% {
        transform: translate(871px, 313px) translate(-50%, -50%);
    }

    90% {
        transform: translate(871px, 284px) translate(-50%, -50%);
    }

    92.50% {
        transform: translate(869px, 250px) translate(-50%, -50%);
    }

    95% {
        transform: translate(889px, 236px) translate(-50%, -50%);
    }

    97.50% {
        transform: translate(887px, 150px) translate(-50%, -50%);
    }

    100% {
        transform: translate(847px, 150px) translate(-50%, -50%);
    }
}