h1 {
    text-align: center;
}

.map {
    background-image: url(staticmap.png);
    background-size: 870.4px 870.4px;
    background-repeat: no-repeat;
    width: 870.4px;
    height: 870.4px;
    margin: 0 auto;
}

.dot {
    animation-name: dot-transform-keyframes;
    animation-duration: 40000ms;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0 0;
}

.dot :hover {
    width: 30px;
    height: 30px;
    transition: ease-in-out 0.5s;
}

@keyframes dot-transform-keyframes {
    0% {
        transform: translate(847px, 150px) translate(-50%, -50%);
    }

    2.50% {
        transform: translate(827px, 150px) translate(-50%, -50%);
    }

    5% {
        transform: translate(827px, 234px) translate(-50%, -50%);
    }

    7.50% {
        transform: translate(849px, 250px) translate(-50%, -50%);
    }

    10% {
        transform: translate(851px, 284px) translate(-50%, -50%);
    }

    12.50% {
        transform: translate(851px, 313px) translate(-50%, -50%);
    }

    15% {
        transform: translate(854px, 436px) translate(-50%, -50%);
    }

    17.50% {
        transform: translate(856px, 493px) translate(-50%, -50%);
    }

    20% {
        transform: translate(811px, 489px) translate(-50%, -50%);
    }

    22.50% {
        transform: translate(714px, 477px) translate(-50%, -50%);
    }

    25% {
        transform: translate(714px, 529px) translate(-50%, -50%);
    }

    27.50% {
        transform: translate(712px, 558px) translate(-50%, -50%);
    }

    30% {
        transform: translate(712px, 588px) translate(-50%, -50%);
    }

    32.50% {
        transform: translate(625px, 588px) translate(-50%, -50%);
    }

    35% {
        transform: translate(622px, 681px) translate(-50%, -50%);
    }

    37.50% {
        transform: translate(634px, 684px) translate(-50%, -50%);
    }

    40% {
        transform: translate(634px, 712px) translate(-50%, -50%);
    }

    42.50% {
        transform: translate(723px, 709px) translate(-50%, -50%);
    }

    45% {
        transform: translate(802px, 707px) translate(-50%, -50%);
    }

    47.50% {
        transform: translate(802px, 746px) translate(-50%, -50%);
    }

    50% {
        transform: translate(802px, 746px) translate(-50%, -50%);
    }

    52.50% {
        transform: translate(802px, 707px) translate(-50%, -50%);
    }

    55.00% {
        transform: translate(772px, 707px) translate(-50%, -50%);
    }

    57.50% {
        transform: translate(770px, 679px) translate(-50%, -50%);
    }

    62.50% {
        transform: translate(767px, 602px) translate(-50%, -50%);
    }

    65% {
        transform: translate(750px, 602px) translate(-50%, -50%);
    }

    67.50% {
        transform: translate(748px, 587px) translate(-50%, -50%);
    }

    70% {
        transform: translate(704px, 588px) translate(-50%, -50%);
    }

    75% {
        transform: translate(714px, 529px) translate(-50%, -50%);
    }

    77.50% {
        transform: translate(714px, 477px) translate(-50%, -50%);
    }

    80% {
        transform: translate(811px, 489px) translate(-50%, -50%);
    }

    82.50% {
        transform: translate(856px, 493px) translate(-50%, -50%);
    }

    85% {
        transform: translate(854px, 436px) translate(-50%, -50%);
    }

    87.50% {
        transform: translate(851px, 313px) translate(-50%, -50%);
    }

    90% {
        transform: translate(851px, 284px) translate(-50%, -50%);
    }

    92.50% {
        transform: translate(849px, 250px) translate(-50%, -50%);
    }

    95% {
        transform: translate(869px, 236px) translate(-50%, -50%);
    }

    97.50% {
        transform: translate(867px, 150px) translate(-50%, -50%);
    }

    100% {
        transform: translate(847px, 150px) translate(-50%, -50%);
    }
}